/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  height: 100%;
  font-size: 16px;
}

body {
  font-family: YuMincho;
  font-size: 16px;
  line-height: 1.5em;
}

.l-header {
  display: block;
  position: absolute;
  max-height: 1024px;
  width: 192px;
  background-color: rgba(242, 242, 242, 0.5);
}
.l-header::before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("/../images/bg-header.png");
  mix-blend-mode: overlay;
  opacity: 30%;
}

.l-header__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 172px;
  padding-top: 42px;
}

.l-header__logo {
  margin-left: 24px;
  font-size: 20px;
  letter-spacing: 0.2em;
  color: #76706a;
  display: flex;
  align-items: center;
  gap: 4px;
}

.l-header__menus {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 732px;
  margin-top: 48px;
  margin-left: 24px;
}

.l-header__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.l-header__sns {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.l-footer {
  background-color: #76706a;
  color: #ffffff;
}

.l-footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 120px 0 320px;
}

.l-footer__r {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 8px;
  margin: 40px 0 48px 0;
  height: 160px;
  width: 302px;
}

.l-footer__logo {
  display: block;
  margin-top: 48px;
  margin-bottom: 7px;
}

.c-title {
  margin-top: 8px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.5em;
}
.c-title--vertical {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  width: 32px;
  height: 432px;
}

.c-sub-title {
  display: inline-block;
  font-family: "Times New Roman";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.c-sub-title--vertical {
  width: 16px;
  height: 58px;
  writing-mode: vertical-rl;
}

.c-button {
  position: relative;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  line-height: 1.5em;
}
.c-button::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #333333;
  position: absolute;
  bottom: -8px;
  left: 0;
}

.c-slider {
  width: 520px;
}

.c-slider__image {
  height: 360px;
  width: 520px;
}
.c-slider__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.c-slider__title {
  display: block;
  margin-top: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1em;
}

.c-slider__text {
  margin-top: 16px;
  line-height: 24px;
}

.p-mv {
  position: relative;
  height: 1024px;
  padding-bottom: 30px;
}

.p-mv__title {
  position: absolute;
  z-index: 10;
  top: 80px;
  right: 240px;
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  font-size: 32px;
}
.p-mv__title span {
  display: inline-block;
  background-color: #ffffff;
  width: 32px;
  height: 336px;
  line-height: 48px;
}

.p-mv__bg {
  display: block;
  position: absolute;
  top: 120px;
  right: 0;
  max-height: 732px;
  max-width: 1120px;
  margin-left: 320px;
}
.p-mv__bg img {
  height: 732px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-concept {
  display: flex;
}

.p-concept__l {
  margin-right: 160px;
}
.p-concept__l img {
  width: 640px;
  height: 720px;
}

.p-concept__r {
  position: relative;
  margin-top: 120px;
  width: 520px;
}
.p-concept__r .c-button {
  margin-top: 40px;
  margin-left: auto;
  margin-right: 16px;
}

.p-concept__text {
  margin-top: 40px;
  font-weight: 500;
  line-height: 1.5em;
}

.p-story {
  margin-top: 120px;
  margin-left: 320px;
}
.p-story .c-button {
  margin: 80px 120px 0 auto;
}

.p-story__text {
  margin-top: 16px;
  width: 720px;
  font-weight: 500;
  line-height: 1.5em;
}

.p-story__sliders {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  gap: 56px;
}
.p-story__sliders .swiper-wrapper {
  overflow: visible;
}

.p-service {
  position: relative;
  margin-top: 64px;
  padding-bottom: 64px;
  padding-top: 40px;
  background-color: rgb(242, 242, 237);
}
.p-service .c-button {
  margin: 32px 120px 0 auto;
}

.p-service__wrapper {
  display: flex;
}

.p-service__title {
  display: inline-flex;
  flex-direction: row-reverse;
  gap: 16px;
  margin-left: 320px;
}
.p-service__title .c-title--vertical {
  margin-top: 40px;
}
.p-service__title .c-sub-title--vertical {
  margin-top: 51px;
}

.p-service__cards {
  margin-top: 120px;
  margin-left: 48px;
  display: flex;
  gap: 24px;
}

.p-service__card {
  width: 280px;
}

.p-service__card__image {
  width: 100%;
}
.p-service__card__image img {
  width: 100%;
}

.p-service__card__title {
  display: block;
  font-size: 24px;
  line-height: 1em;
  margin-top: 24px;
}

.p-service__card__text {
  margin-top: 16px;
  font-size: 14px;
  line-height: 171%;
}

.p-about {
  position: relative;
  background-color: rgb(242, 242, 237);
}

.p-about__top {
  display: flex;
  flex-direction: row;
}

.p-about__title {
  order: 1;
  display: inline-flex;
  flex-direction: row-reverse;
  gap: 9px;
  margin-left: 64px;
}
.p-about__title .c-title {
  margin-top: 64px;
}
.p-about__title .c-sub-title {
  margin-top: 75px;
}

.p-about__image {
  margin-top: 120px;
  margin-left: 320px;
  width: 720px;
  height: 680px;
}
.p-about__image img {
  width: 100%;
  height: 100%;
}

.p-about__bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 48px 120px 64px 40px;
  background-color: #ffffff;
}
.p-about__bottom .c-button {
  margin-top: 48px;
  margin-left: auto;
}

.p-about__bottom__text {
  width: 560px;
}

.p-blog .c-button {
  margin: 0 120px 0 auto;
}

.p-blog__wrapper {
  display: flex;
  gap: 49px;
  margin-left: 320px;
}

.p-blog__title {
  display: inline-flex;
  flex-direction: row-reverse;
  gap: 16px;
}
.p-blog__title .c-title {
  margin-top: 64px;
}
.p-blog__title .c-sub-title {
  margin-top: 75px;
}

.p-blog__contents {
  margin-top: 120px;
  display: flex;
  gap: 24px;
}

.p-blog__card {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.p-blog__card__image {
  width: 100%;
}

.p-blog__card__time {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.p-blog__card__title {
  margin-top: 8px;
  font-size: 24px;
  line-height: 1em;
}

.p-blog__card__text {
  margin-top: 8px;
  line-height: 1.5em;
}

.p-access {
  margin-top: 128px;
}

.p-access__wrapper {
  margin-right: 216px;
  display: flex;
}

.p-access__map {
  width: 640px;
  height: 400px;
  margin-right: 120px;
  margin-left: auto;
}
.p-access__map img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-access__address .title {
  margin-top: 8px;
}

.p-access__address__text {
  margin-top: 24px;
}
.p-access__address__text p {
  margin-top: 8px;
}

.p-contact {
  margin-top: 64px;
  background-color: #f2f2f2;
  position: relative;
  height: 480px;
}

.p-contact__wrapper {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 168px;
  margin-left: auto;
}

.p-contact__title {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
}
.p-contact__title .c-sub-title {
  margin-top: 91px;
}
.p-contact__title .c-title {
  margin-top: 80px;
}

.p-contact__contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-contact__tel {
  margin-top: 32px;
  display: flex;
}
.p-contact__tel .list-title {
  margin-right: 10px;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
}
.p-contact__tel .list-content {
  font-size: 20px;
  line-height: 23px;
}
.p-contact__tel .list-content:first-of-type {
  margin-right: 45px;
}

.p-contact__time {
  margin-top: 32px;
  display: flex;
  gap: 10px;
}
.p-contact__time .list-title {
  font-weight: 500;
}
.p-contact__time .list-content {
  font-weight: 500;
}

.p-contact__button {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  width: 100%;
  padding: 22px 0 23px 0;
  border: 1px solid #333333;
}

/* ==========================================================================
   Global
   ========================================================================== */
/* ==========================================================================
   Foundation
   ========================================================================== */
/* ==========================================================================
   Layout
   ========================================================================== */
/* ==========================================================================
   Object
   ========================================================================== *//*# sourceMappingURL=style.css.map */