@use "../../global" as *;

.c-slider {
  width: 520px;
}

.c-slider__image {
  height: 360px;
  width: 520px;

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.c-slider__title {
  display: block;
  margin-top: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1em;
}

.c-slider__text {
  margin-top: 16px;
  line-height: 24px;
}

/* =================================================
 tab
=================================================== */
@include media(tab) {
  .c-slider {
    width: 320px;
  }

  .c-slider__image {
    width: 320px;
    height: 220px;
  }

  .c-slider__title {
    margin-top: 32px;
  }
}
