@use "../../global" as *;

.p-concept {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
}

.p-concept__l {
  margin-right: 100px;
  & img {
    width: 640px;
    height: 720px;
    object-fit: cover;
  }
}

.p-concept__r {
  position: relative;
  margin-left: auto;
  margin-right: 120px;
  margin-top: 120px;
  width: 520px;

  & .c-button {
    margin-top: 40px;
    margin-left: auto;
    margin-right: 16px;
  }
}

.p-concept__text {
  margin-top: 40px;
  font-weight: 500;
  line-height: 1.5em;
}

/* =================================================
 1250px
=================================================== */
@media screen and (max-width: 1250px) {
  .p-concept__l {
    width: 50%;
    & img {
      width: 100%;
    }
  }
}

/* =================================================
 tab
=================================================== */
@include media(tab) {
  .p-concept {
    flex-direction: column-reverse;
  }

  .p-concept__l {
    margin-top: 24px;
    margin-right: 0;
    width: 100vw;

    & img {
      width: 100%;
      object-fit: cover;
    }
  }

  .p-concept__r {
    max-width: 760px;    
    margin: 56px auto 0 auto;
    padding: 0 16px;
    width: auto;
  }
}
