@use "../../global" as *;

.p-mv {
  position: relative;
  height: 1024px;
  width: 100%;
  padding-bottom: 30px;
}

.p-mv__title {
  position: absolute;
  z-index: 10;
  top: 80px;
  right: 204px;
  display: flex;
  flex-direction: row-reverse;
  gap: 24px;
  font-size: 32px;

  & span {
    display: inline-block;
    background-color: $cWhite;
    width: 32px;
    height: 336px;
    line-height: 48px;
  }
}

.p-mv__bg {
  display: block;
  position: absolute;
  top: 120px;
  right: 0;
  max-height: 732px;
  max-width: 1120px;
  margin-left: 320px;

  & img {
    height: 732px;
    width: 100%;
    object-fit: cover;
  }
}

/* =================================================
 tab
=================================================== */
@include media(tab) {
  .p-mv {
    height: 100vh;
    padding-bottom: 0;
  }
  .p-mv__title {
    right: 16px;
  }

  .p-mv__bg {
    height: calc(100vh - 92px);
    width: 100vw;
    top: 92px;
    margin-left: 0;
    max-height: none;

    & img {
      height: 100%;
      object-position: center;
    }
  }
}
