@use "../../global" as *;

.p-story {
  margin-top: 120px;
  margin-left: 320px;
  max-width: 1024px;

  & .swiper {
    overflow: visible;
  }

  & .c-button {
    margin: 80px 120px 0 auto;
  }
}

.p-story__text {
  margin-top: 16px;
  width: 720px;
  font-weight: 500;
  line-height: 1.5em;
}

.p-story__sliders {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  gap: 56px;

  & li:last-child {
    margin-right: 100px;
  }
}

/* =================================================
 tab
=================================================== */
@include media(tab) {
  .p-story {
    padding: 0 16px;
    max-width: 760px;
    margin: 96px auto 0 auto;

    & .c-title {
      margin-top: 8px;
    }

    & .c-button {
      margin: 66px 36px 0 auto;
    }
  }

  .p-story__text {
    margin-top: 40px;
    width: auto;
  }

  .p-story__sliders {
    margin-top: 56px;
    gap: 16px;
  }
}
