@use "../../global" as *;

.p-service {
  position: relative;
  margin-top: 82px;
  padding-bottom: 64px;
  background-color: $cBeige;

  & .c-button {
    margin: 32px 120px 0 auto;
  }
}

.p-service__wrapper {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
}

.p-service__title {
  display: inline-flex;
  flex-direction: row-reverse;
  gap: 16px;
  margin-left: auto;

  & .c-title--vertical {
    margin-top: 40px;
  }

  & .c-sub-title--vertical {
    margin-top: 51px;
  }
}

.p-service__cards {
  margin: 120px 120px 0 48px;  
  display: flex;
  gap: 24px;
}

.p-service__card {
  width: 280px;
}

.p-service__card__image {
  width: 100%;

  & img {
    width: 100%;
  }
}

.p-service__card__title {
  display: block;
  font-size: 24px;
  line-height: 1em;
  margin-top: 24px;
}

.p-service__card__text {
  margin-top: 16px;
  font-size: 14px;
  line-height: 171%;
}

/* =================================================
 1250px
=================================================== */
@media screen and (max-width: 1250px) {
  .p-service__wrapper {
    justify-content: center;
  }

  .p-service__title {
    margin-left: 0;
  }

  .p-service__cards {
    margin-right: 0;
  }
}

/* =================================================
 tab
=================================================== */
@include media(tab) {
  .p-service {
    & .c-button {
      margin: 40px auto 0 auto;
    }
  }
  .p-service__wrapper {
    flex-direction: column;
  }

  .p-service__title {
    margin-left: 0;
    display: flex;
    justify-content: center;

    & .c-sub-title--vertical {
      position: absolute;
      left: calc(50% + 26px);
      transform: translateX(-50%);
    }
  }

  .p-service__cards {
    flex-direction: column;
    padding: 0 16px;
    margin: 40px 0 0 0;    
  }

  .p-service__card {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }
}
