@use "../../global" as *;

.p-story {
  margin-top: 120px;
  margin-left: 320px;
  max-width: 1024px;

  & .c-button {
    margin: 80px 120px 0 auto;
  }
}

.p-story__text {
  margin-top: 16px;
  width: 720px;
  font-weight: 500;
  line-height: 1.5em;
}

.p-story__sliders {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  gap: 56px;

  & .swiper-wrapper {
    overflow: visible;
  }
}

/* =================================================
 tab
=================================================== */
@include media(tab) {
  .p-story {
    margin-top: 96px;
    margin-left: 0;
    padding: 0 16px;

    & .c-title {
      margin-top: 8px;
    }

    & .c-button {
      margin: 66px 36px 0 auto;
    }
  }

  .p-story__text {
    margin-top: 40px;
    width: auto;
  }

  .p-story__sliders {
    margin-top: 56px;
    gap: 16px;
  }
}
