@use "../global" as *;

.l-footer {
  background-color: $cLightBlack;
  color: $cWhite;
}

.l-footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 120px 0 320px;
}

.l-footer__r {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 8px;
  margin: 40px 0 48px 0;
  height: 160px;
  width: 302px;
}

.l-footer__logo {
  display: block;
  margin-top: 48px;
  margin-bottom: 7px;
}

.br-tab {
  display: none;
}

/* =================================================
 tab
=================================================== */
@include media(tab) {
  .l-footer__wrapper {
    flex-direction: column;
    padding: 0 16px 0 16px;
  }

  .l-footer__r {
    height: auto;
    column-gap: 0;
    row-gap: 24px;
    margin-top: 24px;
  }

  .l-footer__logo {
    margin-top: 40px;
    margin-bottom: 16px;
  }

  .br-tab {
    display: inline;
  }
}