@use "../global" as *;

.l-header {
  display: block;
  position: absolute;
  max-height: 1024px;
  width: 192px;
  background-color: $cWhite;

  &::before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(242, 242, 242, 0.5);
    background-image: url("/../images/bg-header.png");
    // mix-blend-mode: overlay;                                                                
    opacity: 30%;
  }
}

.l-header__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 172px;
  padding-top: 42px;
}

.l-header__logo {
  margin-left: 24px;
  font-size: 20px;
  letter-spacing: 0.2em;
  color: $cLightBlack;
  display: flex;
  align-items: center;
  gap: 4px;
}

.l-header__menus {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 732px;
  margin-top: 48px;
  margin-left: 24px;
}

.l-header__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.l-header__sns {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.l-header__button {
  display: none;
}

/* =================================================
 tab
=================================================== */
@include media(tab) {
  .l-header {
    position: fixed;
    height: 100vh;
    width: 320px;
    max-height: none;
    z-index: 9999;
    top: 0;
    left: -120%;
    transition: all 0.3s ease-in-out;

    &.active {
      left: 0;
    }
  }

  .l-header__wrapper {
    padding-top: 98px;
    padding-bottom: 30px;
  }

  .l-header__menus {
    min-height: auto;
  }

  .l-header__button {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 43px;
    left: 30px;
    cursor: pointer;
    width: 28px;
    height: 16px;

    & span {
      display: inline-block;
      background-color: $cLightBlack;
      position: absolute;
      left: 14px;
      height: 2px;
      width: 28px;
      transition: all 0.6s;

      &:nth-of-type(1) {        
        top: 0;
        left: 0;
      }
      &:nth-of-type(2) {        
        top: 50%;
        left: 0;
        transform: translateY(-1px);
      }
      &:nth-of-type(3) {        
        left: 0;
        bottom: 0;
      }
    }

    &.active {
      & span:nth-of-type(1) {
        // background-color: $cWhite;
        top: 0px;
        width: 30px;
        transform: translateY(7px) rotate(45deg);
      }
      & span:nth-of-type(2) {
        // background-color: $cWhite;
        opacity: 0;
        left: -30px;
      }
      & span:nth-of-type(3) {
        // background-color: $cWhite;
        bottom: 0;
        transform: translateY(-7px) rotate(-45deg);
        width: 30px;
      }
    }
  }
}
